
<section class="home ">
  <div class="container">
    <h1>Hi ! {{userData.email}}</h1>
    <h4 v-if='userData.emailVerified'>Your Mail Is Verfied</h4>
    <a @click='logout()' class="login btn btn-link">LogOut</a>
  </div>
</section>

