.home {
    padding: 15px;
    .container {
        background: #fff;
        border-radius: 4px;
        padding: 15px;
        margin-top: 15px;
        margin-bottom: 22px;
        border: 1px solid #eee;
    }
    a.login {
        border-radius: 20px;
        width: 94px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
        background-color: #8e44ad;
        color: #fff;
    }
}
@media(max-width:700px){
    h1, .h1 {
        font-size: inherit;
    }
}