.login {
    margin-top: 50px;
    .left-img {
      padding: 0;
      img {
        width: 100%;
      }
    }
  }
  .login-area {
      background:#fff;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      .Welcome-back {
          font-family: Heebo;
          font-size: 25px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #34495e;
          margin-top: 100px;
        }
        .Please-login-to-acce {
          font-family: Heebo;
          font-size: 15px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #7f8c8d;
          span a {
              color: #8e44ad;
          }
        }
        .submit-form {
            a {
              color: #8e44ad;
              font-size: 14px;
            }
            button {
              border-radius: 20px;
              box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
              background-color: #8e44ad;
              color: #fff;
              float: right;
            }
        }
  }
 