

<section class="login">
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />
    <div class="container login">
        <div class="row">
          <div class="hidden-xs visible-sm col-sm-5 left-img"><img src="../../assets/B53704A6-DAF9-415E-A6DE-74C2586E68A0.png"></div>
          <div class="col-xs-12 col-sm-7 login-area">
            <p class="Welcome-back">Welcome back!</p>
            <p class="Please-login-to-acce">Please login to access your <span><a href="">Spaces</a></span> Dashboard</p>
            
            <div id="firebaseui-auth-container"></div>
            <b-alert v-if='failLogin' show variant="danger">Login Faild Please Reset Your Password <a href="#" @click='reset()'>Here</a></b-alert>
          </div>
        </div>
      </div>
     
    
    
        

</section>

