.header-component {
    .navbar {
        background: #ffffff;
        a {
            font-size: 15px;
            font-weight: bold;
            color: #34495e;
        }
        a.login {
            border-radius: 20px;
            width: 94px;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
            background-color: #8e44ad;
            color: #fff;
        }
    }
}