
<section class="header-component">
    <nav class="navbar navbar-light">
        <a class="navbar-brand" href="#">
          <img src="../../assets/logo.png" class="d-inline-block align-top" alt="">
        </a>
        <div class="right-nav">
          <a class="btn btn-link">Home</a>
          <a class="btn btn-link">About</a>
          <a class="btn btn-link">Contact</a>
          <a v-if='isLogedin' @click='singOut()' class="login btn btn-link">LogOut</a>
        </div>
      </nav>
</section>

