<template>
  <div id="app">
    <headerComponent></headerComponent>
    <router-view></router-view>
    <div id="sign-in-status"></div>
    <div id="sign-in"></div>
    <div id="account-details"></div>
  </div>
</template>

<script>
import Vue from 'vue'
import VueRouter from 'vue-router'
import BootstrapVue from 'bootstrap-vue'
import login from './components/login/index.vue'
import headerComponent from './components/headerComponent/index.vue'
import home from './components/home/index.vue'
import bAlert from 'bootstrap-vue/es/components/alert/alert';
import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'
import * as firebaseui from 'firebaseui'
import firebase from 'firebase'
/**
 * Set Up Routers
 * @private
 * 
 */
const router = new VueRouter({
  routes: [
    // dynamic segments start with a colon
    { path: '/login', component: login },
    { path: '/home', component: home }
    
  ]
})
Vue.use(VueRouter,BootstrapVue)
Vue.component('b-alert', bAlert);
export default {
  name: 'app',
  router,
  components: {
    login,
    headerComponent
  },
  data(){
    return {

    }
  },
  created(){
  },
  mounted(){
    /**
     * set  Routes 
     */
   
    this.initApp()
    
  },
  methods:{
     initApp() {
       let self = this
        firebase.auth().onAuthStateChanged(function(user) {
           if (!user){
            router.push('login')
          }else if(user) {
          router.push('home')
          self.$children[1].userData = user          
          }
         
        }, function(error) {
          console.log(error);
        });
      },
     

  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  /* margin-top: 60px; */
  background: #eee;
}
 .firebaseui-container {
      max-width: 100% !important;
  }
  .mdl-shadow--2dp{
    box-shadow: none !important;
  }
</style>
